.response-img-list {
  text-align: center;
  margin-top: 38px;
}
.response-img-list a {
  color: black;
  font-size: 16px;
  font-weight: 360;
}
.response-img-list a:hover {
  text-decoration: none;
}
.body-head {
  font-weight: 380;
  margin-bottom: 20px;
}
.body-content {
  font-weight: 390;
  font-size: 15px;
  letter-spacing: 0.8px;
}
.video-table span {
  color: black;
}
.video-table img {
  width: 170px;
  height: 85px;
  margin-top: 14px;
}
.video-table .my-col-1 {
  float: left;
}
.video-table .my-col-2 {
  float: left;
  width: 60%;
  margin-left: 10px;
  margin-top: -6px;
}
.video-table .my-col-2 h2 {
  font-size: 18px;
  font-weight: 380;
  color: #1f69b6;
}
